body {
  background-color: #e3b3d0;
}
h1 {
  padding: 20px;
  line-height: 110%;
  width: 700px;
  text-align: center;
  font-size: 50px;
  color: #7d2336;
  font-family: 'Cinzel', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  padding: 20px;
  width: 700px;
  text-align: center;
  font-size: 30px;
  color: #7d2336;
  font-family: 'Cinzel', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p,div{
  font-size: 20px;
  width: 700px;
  padding: 20px;
  line-height: 150%;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
button{
  /* background-color: #7d2336; */
  color: white;
  border: none;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#details-button{
  background-color: #7d2336;
}
#details-button.newcolor1{
  background-color: cyan;
}
#challenges-button{
  background-color: #7d2336;
}
#challenges-button.newcolor2{
  background-color: hotpink;
}#results-button{
  background-color: #7d2336;
}
#results-button.newcolor3{
  background-color: lime;
}
