body {
  background-color: #e3b3d0;
}
h1 {
  padding: 20px;
  width: 700px;
  text-align: center;
  font-size: 50px;
  color: #7d2336;
  font-family: 'Cinzel', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  padding: 20px;
  width: 700px;
  text-align: center;
  font-size: 30px;
  color: #7d2336;
  font-family: 'Cinzel', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 20px;
  width: 700px;
  padding: 20px;
  line-height: 150%;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
